# Don't commit sensitive data
secrets.json
credentials.yml

# Files too big to be kept in repo, consider cloud storage 
data/**/**.csv
data/**/**.parquet
data/**/**.json
data/**/**.zip

# Don't commit __pycache__ 
**/__pycache__

# Don't commit Docker related files
.dockerignore

# Ignore IDE files
.vscode/
.idea/

# Ignore logs
logs/**.log